# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Ignorar todo por defecto
*

# Permitir la carpeta Scripts
!Assets/
!Assets/Scripts/
!Assets/Scripts/**
